.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet) {
    margin: 0 -20px;
  }
}

.card {
  width: 100%;
  background-color: $color-tertiary;
  padding: 16px;
  margin: 10px 0;
  border-radius: 3px;

  @media (min-width: $tablet) {
    width: 290px;
    margin: 10px;
  }
}

.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 20px;

  &.card__icon-healthcare {
    background-color: #f4976c;
  }

  &.card__icon-logistics {
    background-color: #cfbc81;
  }

  &.card__icon-engineering {
    background-color: #3aafa9;
  }

  &.card__icon-ecommerce {
    background-color: #b39ddb;
  }

  &.card__icon-media {
    background-color: #4d6e9b;
  }

  &.card__icon-fashion {
    background-color: #f48fb1;
  }

  &.card__icon-sports {
    background-color: #479860;
  }

  &.card__icon-fintech {
    background-color: #5de5e0;
  }
}

.card__title {
  margin-bottom: 20px;
}

@mixin color-card($color) {
  background-color: $color;

  .card__icon {
    color: $color;
  }
}

.card-web {
  @include color-card(#f4976c);
}

.card-mobile {
  @include color-card(#cfbc81);
}

.card-qa {
  @include color-card(#3aafa9);
}

.card-design {
  @include color-card(#b39ddb);
}

.card__button {
  margin-top: 12px;
}
