@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.ttf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("opentype");
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 600;
  background-color: $color-primary;
  color: $text-color-primary;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section {
  padding: 30px 0;

  @media (min-width: $tablet) {
    padding: 60px 0px;
  }
}

.intro__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.intro__decoration {
  text-align: center;

  @media (min-width: $tablet) {
    flex: 1;
  }
}

.intro__img {
  max-width: 100%;
}

.intro__content {
  @media (min-width: $tablet) {
    flex: 3;
  }
}

.intro__subtitle {
  font-size: 14px;
  text-transform: uppercase;
}

.intro__h1 {
  margin: 20px 0;
}

.intro__text {
  font-size: 18px;
  max-width: 495px;
}

.intro__buttons {
  margin-top: 30px;
}

.intro__button {
  display: inline-block;
  width: 240px;
  max-width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.row-3-1 {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.col-1 {
  flex: 1;
  padding: 40px;
}

.col-3 {
  flex: 3;
}

.col_align_center {
  text-align: center;
}
